.section__about{
   min-width: 1440px;
   width: 1680px;
   height: 880px;
}

.section__about-back{
   width: 100%;
   min-height: 880px;
   background: url(../images/book-back.svg) no-repeat center center  ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.black-blur{
   background-color: rgba(0, 0, 0, 0.657);
   min-width: 1670px;
   max-width: 1680px;
   box-shadow: 0 0 70px 30px rgba(0, 0, 0, 0.657);

   /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.section__about-wrapper{
   min-width: 1200px;
   max-width: 1300px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about-info__title{
   font-family: 'Bayon';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 90px;
letter-spacing: 0.05em;
color: #FFFFFF;
}

.about-info__text{
   font-family: 'Bayon';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 45px;
color: #FFFFFF;
width: 550px;
margin-top: 50px;
}